.navbar {
  color: #000;
  .logo {
    width: 150px;
  }
  .logout {
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
  }
  .name {
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 1rem;
  }
}
